ORIGIN="http://localhost:5173"
PUBLIC_HOST_URL="http://localhost:5173"

# You shouldn't need to change this unless you are self hosting the bot for testing
BOT_API_URL=""

# Bot info
PUBLIC_GITHUB_USERNAME=""
PUBLIC_GITHUB_REPO=""
PUBLIC_BOT_NAME=""
PUBLIC_BOT_CLIENT_ID=""
PUBLIC_BOT_INVITE=""

# Discord info
PUBLIC_GUILD_ID=""
PUBLIC_GUILD_INVITE=""
