@use '../variables' as *;

.page {
	max-width: 100rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.feature-list {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	padding-left: 1rem;
	padding-right: 1rem;

	@media (min-width: $mobile-width) {
		padding-left: 10rem;
		padding-right: 10rem;
	}
}

.feature {
	margin-bottom: 2rem;
	padding: 2rem 1rem;
	border-radius: 1rem;
	background: linear-gradient(145deg, var(--input), var(--muted));
	box-shadow:
		0 20px 25px -5px rgba(0, 0, 0, 0.2),
		0 10px 10px -5px rgba(0, 0, 0, 0.1),
		0 0 0 1px var(--border) inset;
	width: 90%;
	max-width: 500px;
	text-align: center;
	color: var(--foreground);
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $mobile-width) {
		width: 50%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 4rem;
	}
}

/* change to odd for the switch order to be opposite */
@media (min-width: $mobile-width) {
	.feature-list > div:nth-child(even) {
		align-self: flex-end;
	}
}

.feature-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
	margin-top: -1.9rem;
}

.feature-title {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2rem;
	font-size: 25px;
}

.feature-description {
	color: var(--muted-foreground);
	font-size: 15px;
}

.faq {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

.accordion-title {
	justify-self: left;
	margin-left: 0.7rem;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.accordion {
	border-radius: 0.75rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 100%;

	@media (min-width: 640px) {
		max-width: 55rem;
	}

	&-item {
		overflow: hidden;
		transition: color 0.3s ease;

		&:first-child {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
		}

		&:last-child {
			border-bottom-left-radius: 0.75rem;
			border-bottom-right-radius: 0.75rem;
		}
	}

	&-header {
		display: flex;
	}

	&-trigger {
		display: flex;
		flex: 1;
		cursor: pointer;
		align-items: center;
		justify-content: space-between;
		padding: 1.25rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1;
		color: var(--secondary-foreground);
		background-color: var(--secondary);
		border: 0px;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: var(--muted-variant);
		}

		&:focus {
			outline: none;
		}

		&.has-border {
			border-top: 1px solid var(--border);
		}
	}

	&-content {
		overflow: hidden;
		background-color: var(--muted);
		font-size: 0.875rem;
		color: var(--muted-foreground);
		box-shadow: inset 0px 1px 0px var(--border);

		&-inner {
			padding: 1rem 1.25rem;
		}
	}
}
